<link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
<h1>Tatjana Nebel</h1>
<h2>I love to dance</h2>

<%= Date.today %>
<% if 1 == 2%>
<h3>1 equals 2 WTF</h3>
<%else%>
<h3>We are safe 1 does not equal2</h3>
<%end%>
