<!-- views/login.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Login page</title>
  <style>
  body {
    font-family: 'Open Sans';
    background-color: #fff;
    text-transform: uppercase;
    margin:0 auto;
    text-align: center;
    color: #26EAB9;
  }
  h1 {
    color: #26EAB9;
  }
  h3 {
    color: #000;
  }
  </style>
</head>
<body>

​
</body>
